@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    scroll-behavior: smooth;
  }
  body {
    @apply bg-[url('/image/bodyBg.png')];
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

}

@layer utilities {
  .nav_links a::before {
    content: '';
    border-top: 2px solid;
    @apply border-indigo-950;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    display: block;
    transition: 0.3s;
  }

  .nav_links a:hover:before {
    transform: translateY(-12px);
    opacity: 1;
    visibility: visible;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #visit:hover>.icon {
    display: block;
  }


}
