@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .nav_links a::before {
    content: '';
    border-top: 2px solid;
    @apply border-indigo-950;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    display: block;
    transition: 0.3s;
  }

  .nav_links a:hover:before {
    transform: translateY(-12px);
    opacity: 1;
    visibility: visible;
  }

  .sliderImg:hover > section{
    width: 75%;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #visit:hover>.icon {
    display: block;
  }

  .center {
    transform: translateX(0);
  }

  .side {
    transform: translateX(-100%);
    /* Start with videos off to the left */
  }

  .rotate-y-45 {
    transform: rotateY(-55deg);
  }

  /* Hover Animation */
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: center;
  }

  /* Hover Animation End */
}

@layer base {

  body {
    @apply bg-[url('/image/bodyBg.png')];
    box-sizing: border-box;
  }

}
