@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .nav_links a::before {
    content: '';
    border-top: 2px solid;
    @apply border-indigo-950;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    display: block;
    transition: 0.3s;
  }

  .nav_links a:hover:before {
    transform: translateY(-12px);
    opacity: 1;
    visibility: visible;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #visit:hover>.icon {
    display: block;
  }

  /* Hover Animation */
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }

  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: center;
  }

  /* Hover Animation End */

  /* OwlCarouselBlur.css */
  .item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%
  }

  .center-highlight {
    border: 2px solid black;
  }

  .blur {
    filter: blur(5px);
    /* Apply blur effect */
  }


}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[url('/image/bodyBg.png')];
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

}
